{% extends 'base.html' %}

{% block content %}
    <h1>Поиск медикаментов</h1>
    <form method="GET" action="{% url 'search_results' %}">
        <input type="text" name="search" placeholder="Введите название">
        <input type="submit" value="Поиск">
    </form>
    <h3>Найдено медикаментов {{ quantity }} шт.</h3>
    {% for item in medicaments %}
    <li>
        <a href="{% url 'detail' item.id %}">{{ item.name }}</a>
        Количество: {{ item.quantity }}
        Годен до: {{ item.expiration_date }}
    </li>
    {% endfor %}
{% endblock %}
