<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сброс пароля</title>
</head>
<body>
    <h1>Сброс пароля</h1>
    <p>Для сброса пароля укажите следующие данные:</p>
    {{ message }}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Установить новый пароль</button>
     </form><br>
    <form method="GET" action="{% url 'login_user' %}">
        <input type="submit" value="На страницу авторизации">
    </form>
</body>
</html>